
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_div {
   width: 300px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
   background-color: white; 
}
.child_div {

}
.form_style input {
    width: 170px;
    height: 25px;
    
    padding: 10px;
    outline: none;
    border: none;
    border: 1px solid cadetblue;
    margin-right: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.element_show {
    display: flex;
    justify-content: space-between;
    padding: 5px 2px;
   
}
button {
    padding: 5px 7px;
    background-color: rgb(3, 3, 255);
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;

}
